.wpt-metabox-wrapper .wpt-field {
  padding: 10px;
}
.wpt-metabox-wrapper .wpt-field label {
  font-weight: bold;
}
.wpt-metabox-wrapper .wpt-field label:after {
  content: '';
  display: block;
  margin-bottom: 8px;
}
.wpt-metabox-wrapper .wpt-field input:not([type='color']) {
  width: 100%;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
}
.wpt-metabox-wrapper .wpt-field select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}
